{% extends "base.html" %}

{% block content %}
    {% if 'no' not in simulator %}
        {% if "инженер" in simulator or "строитель" in simulator %}
            <h2>Инженерные тренажеры</h2>
            <img src="Git_yandex/Flask/Flask Code/templates/Тренажеры1.png" alt="Тренажеры потерялись">
        {% else %}
            <h2>Научные симуляторы</h2>
            <img src="Git_yandex/Flask/Flask Code/templates/НС.png" alt="Научные симуляторы потерялись">
        {% endif %}
    {% endif %}
{% endblock %}

{% block list %}
    {% if "ol" in list %}
        <ol>
            {% for item in profi %}
                <li>{{item}}</li>
            {% endfor %}
        </ol>
    {% elif "ul" in list %}
        <ul>
            {% for item in profi %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Неверный формат</p>
    {% endif %}
{% endblock %}

